-
	const works = [
		{
			date: '2020-2022',
			vacancy: 'Руководитель ИТ службы',
			name: 'DNS',
			description: 'Написание множества скриптов на языке Python, для автоматизации большинства повседневных задач. Разработка внутреннего портала на CRM «Руководитель», для эффективного взаимодействия отделов между друг другом. Настройка функционала CRM «Руководитель» для выдачи прав пользователям, в зависимости от их должности указанной в Active Directory. Настройка функционала CRM «Руководитель» для рассылки писем через почтовый сервер и Telegram канал ответственным. Настройка функционала CRM «Руководитель» для выведения графиков продуктивности отделов, доступных только руководителям отделов.'
		},
		{
			date: '2017-2020',
			vacancy: 'Разработчик 1С',
			name: 'Горилка',
			description: 'Знание языка программирования 1С. Написание обработок и отчетов в 1С. Тестирование изменений в основной конфигурации. Тестирование отчетов и обработок. Создание собственной базы данных для подсчета рабочего времени персонала. Доработка изменений основной конфигурации, доработка обработок и отчетов. Консультирование сотрудников технической поддержки.'
		},
		{
			date: '2015-2017',
			vacancy: 'Ведущий системный специалист',
			name: 'Центр программирования',
			description: 'Поддержка офисных сотрудников для бесперебойной работы. Поддержка офисного сетевого оборудования. Разработка Landing page с нуля. Разработка внутреннего портала на WordPress'
		},
		{
			date: '2014-2015',
			vacancy: 'Web-developer',
			name: 'Arriera',
			description: 'Разработка сайтов любой сложности без использования фрейморков и CMS. Backend: PHP. База данных: MySQL. Frontend: HTML, CSS, JS, JQuery. Продвижение сайтов в поисковых системах Google и Яндекс'
		},
	];
	const education = [
		{
			courseName: 'Backend разработчик Django',
			courseCompany: 'Hexlet',
			courseDate: '05/2022-06/2022',
		},
		{
			courseName: 'Backend разработчик Django',
			courseCompany: 'Яндекс практикум',
			courseDate: '02/2022-03/2022',
		},
		{
			courseName: 'Программирование в компьютерных системах',
			courseCompany: 'Поволжский государственный университет телекоммуникаций и информатики, Самара',
			courseDate: '2014-2018',
		},
		{
			courseName: 'Программирование в компьютерных системах',
			courseCompany: 'Колледж связи поволжский государственный университет телекоммуникаций и информатики, Самара ',
			courseDate: '2014-2018',
		},
	];
	const skills = [
		{
			skillName: 'Операционные системы',
			skillDescription: 'Windows, Linux, Mac OS',
		},
		{
			skillName: 'Языки программирования',
			skillDescription: 'HTML, CSS, JS, PHP, Python',
		},
		{
			skillName: 'Графические редакторы',
			skillDescription: 'Photoshop, GIMP, Figma',
		},
		{
			skillName: 'Языки',
			skillDescription: 'Английский А1, Русский родной',
		},
	];


#page-preloader.preloader
	#loader.loader
		span#load_perc 0%

main.home
	.content
		.hi
			.container
				.hi__row
					.hi__body
						img.logo(src="../images/logo.png" alt="Logo")
						.hi__title Ярослав,<br>Frontend
						.hi__description.
										Как разработчик, я высоко ценю способность
										воплотить видение дизайнера в жизнь, что
										считаю очень полезным для бизнеса. Я получаю
										огромное удовлетворение, наблюдая за работой
										от идеи до дизайна, особенно когда она появляется
										в руках пользователя. Я считаю, что ориентированные
										на пользователя решения являются наиболее ценными
										цифровыми ресурсами будущего.
					.hi__info
						ul
							li.hi__nav
								a(href="https://samara.hh.ru/resume/73137fd0ff0b50d8220039ed1f76615570656a" target="_blank") Резюме
							li.hi__nav
								a(href="#about") О себе
							li.hi__nav
								a(href="#skills") Навыки
						.hi__contacts
							ul
								li
									a(href="mailto:yaroslav.ryabikin@gmail.com") yaroslav.ryabikin@gmail.com
								li
									a(href="tel:+79991713474") +7 (999) 171-34-74
								li г.Самара
				.hi__bg-vector
					img.hi__big-bg-vector(src="../images/Vector-2.png" alt="Visual-vector")
					img.hi__min-bg-vector(src="../images/min-vector-2.png" alt="Visual-vector")
		.about#about
			.container
				.about__row
					.about__works
						.about__title.title Опыт работы
						.about__works__text
							each work in works
								.work__date #{work.date}
								.work__vacancy #{work.vacancy}
								.work__name #{work.name}
								.work__description #{work.description}
					.about__img(data-scroll-container)
						img.person(src="../images/man.png" alt="Человек")
					.about__education
						.about__title.title Образование
						.about__education__text
							each course in education
								.about__education__course
									.education__name #{course.courseName}
									.education__company #{course.courseCompany}
									.education__date #{course.courseDate}
				.about__bg-vector
					img.about__big-bg-vector(src="../images/Vector-3.png" alt="Visual-vector")
					img.about__min-bg-vector(src="../images/min-vector-3.png" alt="Visual-vector")
		.skills#skills
			.container
				.skills__bg_image
				.skills__title.title Навыки
				.skills__row
					.skills__column
						.skills__item.item
							.item__row
								each skill in skills
									.item__column
										.item__title #{skill.skillName}
										.item__description #{skill.skillDescription}
				img.skills__image(src="../images/hend_love.png" alt="With-love")
	.js-back-to-top
		div
